@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorPrincipal,
.contenedorGeneracion,
.contenedorMayorEdad {
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  padding: 20px;
}

.contenedorPrincipal {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 1px 10px gray;
  background-color: #131313;
}

.contenedorGeneracion {
  background-color: #1d41b9;
}

.contenedorMayorEdad {
  background-color: #198754;
}
